In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
!ls

AB_NYC_2019.csv                    New_York_City_.png
Airbnb_Analysis.ipynb              environment.yaml
Course Project.ipynb               new-york-city-airbnb-open-data.zip
Develop.yml                        requirements.txt
EsercizioLive.ipynb                wordcloud.png

In [64]:
BASEPATH = os.path.abspath('')
DATASET = 'AB_NYC_2019.csv'
PATH = os.path.join(BASEPATH,DATASET)
print(PATH)

/Users/jeydi/Dropbox/Progetti/PERSONALI/PythonBiellaGroup/MaterialeLezioni/Pandas/esempio/completo/NewYorkAirbnb/AB_NYC_2019.csv

In [65]:
df = pd.read_csv(PATH, sep=",", low_memory=False, parse_dates=["last_review"])

In [29]:
df_columns = df.columns

x = df_columns[0:3]
x

Index(['id', 'name', 'host_id'], dtype='object')

In [31]:
## ILOC
#df.iloc[0:100,0:3]

## LOC
#df.loc[0:100,['id','name','host_id']]

        id                                              name  host_id
0     2539                Clean & quiet apt home by the park     2787
1     2595                             Skylit Midtown Castle     2845
2     3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3     3831                   Cozy Entire Floor of Brownstone     4869
4     5022  Entire Apt: Spacious Studio/Loft by central park     7192
..     ...                                               ...      ...
96   21456                Light-filled classic Central Park     42032
97   21644                         Upper Manhattan, New York    82685
98   21794                       COZY QUIET room 4 DOOGLERS!    83257
99   22911               The Stuydio Modern and Light Filled    87773
100  22918  loft bed - near transportation-15min to times sq    32294

[101 rows x 3 columns]

In [34]:
# df.shape
len(df)
len(df.columns)

16

In [36]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [39]:
df.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,2,0,NaT,NaN,2,353
48886,36483010,Comfy 1 Bedroom in Midtown East,274311461,Scott,Manhattan,Midtown,40.75561,-73.96723,Entire home/apt,200,6,0,NaT,NaN,1,176
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaT,NaN,3,365
48888,36484087,"Spacious Room w/ Private Rooftop, Central loca...",274321313,Kat,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,4,0,NaT,NaN,1,31
48889,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,NaT,NaN,2,163
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23

In [66]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [72]:
def delete_data(df, column):
    x = df.drop(column, axis=1)
    return x

In [75]:
df_new = delete_data(df, ["reviews_per_month","last_review"])

In [88]:
#select where
df_new[df_new.neighbourhood_group == 'Brooklyn'].latitude

0        40.64749
3        40.68514
6        40.68688
12       40.66829
15       40.70837
           ...
48882    40.69652
48884    40.71790
48887    40.71232
48890    40.67853
48891    40.70184
Name: latitude, Length: 20104, dtype: float64

In [85]:
#check dati univoci
col = ["neighbourhood_group", "neighbourhood"]
for i, col in enumerate(col):
    print(f"column: {col}")
    print(df_new[col].unique())

column: neighbourhood_group
['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']
column: neighbourhood
['Kensington' 'Midtown' 'Harlem' 'Clinton Hill' 'East Harlem'
 'Murray Hill' 'Bedford-Stuyvesant' "Hell's Kitchen" 'Upper West Side'
 'Chinatown' 'South Slope' 'West Village' 'Williamsburg' 'Fort Greene'
 'Chelsea' 'Crown Heights' 'Park Slope' 'Windsor Terrace' 'Inwood'
 'East Village' 'Greenpoint' 'Bushwick' 'Flatbush' 'Lower East Side'
 'Prospect-Lefferts Gardens' 'Long Island City' 'Kips Bay' 'SoHo'
 'Upper East Side' 'Prospect Heights' 'Washington Heights' 'Woodside'
 'Brooklyn Heights' 'Carroll Gardens' 'Gowanus' 'Flatlands' 'Cobble Hill'
 'Flushing' 'Boerum Hill' 'Sunnyside' 'DUMBO' 'St. George' 'Highbridge'
 'Financial District' 'Ridgewood' 'Morningside Heights' 'Jamaica'
 'Middle Village' 'NoHo' 'Ditmars Steinway' 'Flatiron District'
 'Roosevelt Island' 'Greenwich Village' 'Little Italy' 'East Flatbush'
 'Tompkinsville' 'Astoria' 'Clason Point' 'Eastchester' 'Kingsbridge'
 'Two Bridges' 'Queens Village' 'Rockaway Beach' 'Forest Hills' 'Nolita'
 'Woodlawn' 'University Heights' 'Gravesend' 'Gramercy' 'Allerton'
 'East New York' 'Theater District' 'Concourse Village' 'Sheepshead Bay'
 'Emerson Hill' 'Fort Hamilton' 'Bensonhurst' 'Tribeca' 'Shore Acres'
 'Sunset Park' 'Concourse' 'Elmhurst' 'Brighton Beach' 'Jackson Heights'
 'Cypress Hills' 'St. Albans' 'Arrochar' 'Rego Park' 'Wakefield' 'Clifton'
 'Bay Ridge' 'Graniteville' 'Spuyten Duyvil' 'Stapleton' 'Briarwood'
 'Ozone Park' 'Columbia St' 'Vinegar Hill' 'Mott Haven' 'Longwood'
 'Canarsie' 'Battery Park City' 'Civic Center' 'East Elmhurst'
 'New Springville' 'Morris Heights' 'Arverne' 'Cambria Heights'
 'Tottenville' 'Mariners Harbor' 'Concord' 'Borough Park' 'Bayside'
 'Downtown Brooklyn' 'Port Morris' 'Fieldston' 'Kew Gardens' 'Midwood'
 'College Point' 'Mount Eden' 'City Island' 'Glendale' 'Port Richmond'
 'Red Hook' 'Richmond Hill' 'Bellerose' 'Maspeth' 'Williamsbridge'
 'Soundview' 'Woodhaven' 'Woodrow' 'Co-op City' 'Stuyvesant Town'
 'Parkchester' 'North Riverdale' 'Dyker Heights' 'Bronxdale' 'Sea Gate'
 'Riverdale' 'Kew Gardens Hills' 'Bay Terrace' 'Norwood'
 'Claremont Village' 'Whitestone' 'Fordham' 'Bayswater' 'Navy Yard'
 'Brownsville' 'Eltingville' 'Fresh Meadows' 'Mount Hope'
 'Lighthouse Hill' 'Springfield Gardens' 'Howard Beach' 'Belle Harbor'
 'Jamaica Estates' 'Van Nest' 'Morris Park' 'West Brighton' 'Far Rockaway'
 'South Ozone Park' 'Tremont' 'Corona' 'Great Kills' 'Manhattan Beach'
 'Marble Hill' 'Dongan Hills' 'Castleton Corners' 'East Morrisania'
 'Hunts Point' 'Neponsit' 'Pelham Bay' 'Randall Manor' 'Throgs Neck'
 'Todt Hill' 'West Farms' 'Silver Lake' 'Morrisania' 'Laurelton'
 'Grymes Hill' 'Holliswood' 'Pelham Gardens' 'Belmont' 'Rosedale'
 'Edgemere' 'New Brighton' 'Midland Beach' 'Baychester' 'Melrose'
 'Bergen Beach' 'Richmondtown' 'Howland Hook' 'Schuylerville'
 'Coney Island' 'New Dorp Beach' "Prince's Bay" 'South Beach' 'Bath Beach'
 'Jamaica Hills' 'Oakwood' 'Castle Hill' 'Hollis' 'Douglaston' 'Huguenot'
 'Olinville' 'Edenwald' 'Grant City' 'Westerleigh'
 'Bay Terrace, Staten Island' 'Westchester Square' 'Little Neck'
 'Fort Wadsworth' 'Rosebank' 'Unionport' 'Mill Basin' 'Arden Heights'
 "Bull's Head" 'New Dorp' 'Rossville' 'Breezy Point' 'Willowbrook']

In [89]:
df_new

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,1,23